# One hot encoder

`sklearn.preprocessing.OneHotEncoder` is realisatoin of one hot encoding in sklearn. Here is some details associated with working with this tool.

In [38]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from IPython.display import HTML

np.random.seed(10)
categories = [chr(i) for i in range(ord("a"), ord("e"))]
sample_size = 10

test_frame = pd.DataFrame({
    "col1" : np.random.choice(categories, sample_size), 
    "col2" : np.random.choice(categories, sample_size)
})

header_template = "<p style='font-size:17px'>{}</p>"

## Basic example

Here is option how it'll work in the most basic case.

In [40]:
ohe_transformer = OneHotEncoder(sparse_output=False)

display(HTML(header_template.format("Input DataFrame")))
display(test_frame)
display(HTML(header_template.format("Output as DataFrame")))
display(pd.DataFrame(
    ohe_transformer.fit_transform(test_frame),
    columns = ohe_transformer.get_feature_names_out()
))

  col1 col2
0    b    a
1    b    b
2    a    b
3    d    c
4    a    a
5    b    b
6    d    a
7    a    c
8    b    a
9    b    c

   col1_a  col1_b  col1_d  col2_a  col2_b  col2_c
0     0.0     1.0     0.0     1.0     0.0     0.0
1     0.0     1.0     0.0     0.0     1.0     0.0
2     1.0     0.0     0.0     0.0     1.0     0.0
3     0.0     0.0     1.0     0.0     0.0     1.0
4     1.0     0.0     0.0     1.0     0.0     0.0
5     0.0     1.0     0.0     0.0     1.0     0.0
6     0.0     0.0     1.0     1.0     0.0     0.0
7     1.0     0.0     0.0     0.0     0.0     1.0
8     0.0     1.0     0.0     1.0     0.0     0.0
9     0.0     1.0     0.0     0.0     0.0     1.0